@charset "UTF-8";
article{
    width:100%;
    background:$std-secondary;
    margin:1rem auto;
    display:block;

}

section {
    padding:0.5rem;
}
@media (map-get($rd-types, md)){
  article{
    display:flex;
    align-items: center;
  }
}

@media (map-get($rd-types, lg)){
  article{
    width:$content-width;
 }
}
@media (map-get($rd-types, xl)){
  article{
    width:129rem;
 }
}
